@import url('login.css');

/* Cards */
.cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.card {
    background: var(--cor-fundo-card);
    padding: 15px;
    border-radius: var(--borda-raio);
    box-shadow: 0 4px 10px #0007;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: var(--borda-raio);
}

.card .titulo {
    font-weight: bold;
    margin-top: 10px;
    color: white;
}

.card .autor,
.card .genero,
.card .ano {
    color: var(--cor-texto-secundario);
}

.card button {
    margin-top: 10px;
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: var(--borda-raio);
    cursor: pointer;
}

.btn-edit {
    background: #00d4ff;
}

.btn-delete {
    background: red;
    color: white;
}
